 :root {
    --clr-primary-svery-dark-blue: hsl(233, 47%, 7%);
    --clr-primary-desaturated-blue: hsl(244, 38%, 16%);
    --clr-primary-soft-violet: hsl(277, 64%, 61%);
    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-white-main: hsla(0, 0%, 100%, 0.75);
    --clr-neutral-white-stat: hsla(0, 0%, 100%, 0.6);

    font-size: 62.5%;
    --ff-accent: 'Inter', sans-serif;
    --ff-base: 'Lexend Deca', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
 }

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  h1, h2, h3 {
    line-height: 1;
  }

/* general styling */

  body {
    font-size: 1.5rem;
    color: var(--clr-neutral-white-main);
    font-family: var(--ff-base);
    background-color: var(--clr-primary-svery-dark-blue);
    text-align: center;

    margin: 1rem;
    display: grid;
    place-content: center;
  }

  .card {
    max-width: 1100px;
    background-color: var(--clr-primary-desaturated-blue);
    border-radius: .5rem;
  }

  .card__img {
    background-color: var(--clr-primary-soft-violet);
    border-radius: .5rem .5rem 0 0;
  }

  .card__img img {
    background-color: var(--clr-primary-soft-violet);
    mix-blend-mode: multiply;
    opacity: .75;
    object-fit: cover;
  }
  
  .card__content {
    padding: 5rem 3rem;
  }

  .card__title {
    font-family: var(--ff-accent);
    font-weight: var(--fw-bold);
    font-size: 3rem;
    color: var(--clr-neutral-white);

    margin-bottom: 2rem;
  }

  .card__title span {
    color: var(--clr-primary-soft-violet);
  }

 .status {
    display: grid;    
    gap: 2rem;
    text-transform: uppercase;
    margin-top: 3rem;
 }

 .status__results {
    font-size: 2rem;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-white);
 }

 .status__description {
    display: block;
    font-size: 1rem;
    font-family: var(--ff-base);
    color: var(--clr-neutral-white-stat);
    letter-spacing: 1px;
 }

 .attribution { 
    font-size: 11px; text-align: center; 
    margin-top: 3rem;
 }

 .attribution a {
    color: hsl(228, 45%, 44%); 
 }

 @media (min-width: 740px) {
    .card {
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        line-height: 1.5;
    }

    .card__content {
        padding-right: 10rem;
        padding-left: 5rem;
    }

    .card__title {
        line-height: 1.3;
        font-size: 3.5rem;
    }

    p {
        font-size: 1.7rem;
    }

    .card__content {
        width: 52%;
    }

    .card__img {
        width: 48%;
        border-radius: 0 .5rem .5rem 0;
    }

    img {
        height: 100%;
    }

    .status {
        display: flex;
        justify-content: space-between;
        margin-top: 5rem;
    }

    .status__results {
        font-size: 2.5rem;
    }

    .status__description {
        text-align: center;
        font-size: 1.3rem;
    }

    .card__title {
        margin-bottom: 4rem;
    }
 }